/* use a non-serif font */
html {
  font-family: 'verdana', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

#map-container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 31%;
}

.map-overlay {
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  position: absolute;
  width: 30%;
  height: 100%;
  text-align: center;
  top: 0;
  left: 0;
  background-color: white;
}

.wrapperuber {
  display: grid;
  grid-template-rows: 15% 35% 10% 25% 15%;
  height: 100%;
}

.wrapper1 {
  padding: 15px;
  font-size: 15px;
}

.wrapper2 {
  padding: 20px;
  font-size: 13.5px;
  text-align: justify;
}

.wrapper4 {
  display: grid;
  grid-template-columns: 20% 15% 65%;
  grid-template-rows: 40px 40px 40px 40px;
}

.legend {
  text-align: left;
  font-size: 15px;
  padding-top: 4.5px;
}

#slider {
  width: 75%;
}

#month {
  font-size: 20px;
}

.row {
  display: inline-block;
  height: 20px;
  width: 75%;
}

.colors {
  background: linear-gradient(to right, green, yellow, orange, red);
  margin-bottom: 5px;
}

.dot {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
}

.colorlegend {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}
