/* use a non-serif font */
html {
  font-family: 'verdana', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

#map-container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.map-overlay {
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  position: absolute;
  width: 27%;
  text-align: center;
  top: 0;
  left: 0;
  padding: 10px;
  background-color: white;
}
.wrapper1 {
  display: grid;
  grid-template-columns: 20% 15% 65%;
}
.wrapper2 {
  display: grid;
  grid-template-columns: 20% 15% 65%;
  grid-template-rows: 40px 40px 40px 40px;
}

.legend {
  text-align: left;
  font-size: 15px;
}

#slider {
  width: 75%;
}

.row {
  display: inline-block;
  height: 20px;
  width: 75%;

}

.colors {
  background: linear-gradient(to right, green, yellow, orange, red);
  margin-bottom: 5px;
}

.dot {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
}
